.body-style{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.homepage-text-toolbar{
    margin-left: 8px;
}

.sidebar-container{
    display:flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.sidebar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 12px; */
    width: 100%;
}

.toolbar-teste{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
}
.toolbar-button-style{
    margin-top: 30px;
}
.body-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}
.adm-selection-text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.carousel-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.movie-carousel-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.movie-carousel-container.img{
    height: 300px;
    width: 200px;
}
/* :host /deep/ .carousel-control-next, .carousel-control-prev{

} */