<body>
  <mat-toolbar color="primary">
    <button mat-raised-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="homepage-text-toolbar">HOME</h1>
  </mat-toolbar>
  <mat-drawer-container class="sidebar-container">
    <mat-drawer #drawer class="sidebar" mode="side">
      <div class="toolbar-teste">
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
        <button mat-button class="toolbar-button-style">teste123</button>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</body>